<div class="row">
    
    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>STANDARD</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <form>
                    <div class="form-group">
                        <label for="input-1">Text</label>
                        <input type="text" class="form-control" id="input-1">
                    </div>
                    <div class="form-group">
                        <label for="input-2">Password</label>
                        <input type="password" class="form-control" id="input-2">
                    </div>
                    <div class="form-group">
                        <label for="input-3">With placeholder</label>
                        <input type="text" class="form-control" id="input-3" placeholder="Enter your text here...">
                    </div>
                    <div class="form-group">
                        <label for="input-4">With default value</label>
                        <input type="text" class="form-control" id="input-4" value="This is default value">
                    </div>
                    <div class="form-group">
                        <label for="input-5">Rounded Corners</label>
                        <input type="text" class="form-control form-control-rounded" id="input-5">
                    </div>
                    <div class="form-group">
                        <label for="input-6">With help text</label>
                        <input type="text" class="form-control" id="input-6">
                        <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                    <div class="form-group">
                        <label for="input-7">Disabled</label>
                        <input type="email" class="form-control" id="input-7" disabled value="admin@themeseason.com">
                    </div>                    
                    <div class="form-group">
                        <label for="textarea-1">Textarea</label>
                        <textarea class="form-control" id="textarea-1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="input-8">Small Input</label>
                        <input type="text" class="form-control form-control-sm" id="input-8">
                    </div>
                    <div class="form-group">
                        <label for="input-9">Large Input</label>
                        <input type="text" class="form-control form-control-lg" id="input-9">
                    </div>
                    <div class="form-group">
                        <label for="input-10">Number</label>
                        <input type="number" class="form-control" value="42" id="input-10">
                    </div>
                    <div class="form-group">
                        <label for="input-11">Date and time</label>
                        <input type="datetime-local" class="form-control"  value="2011-08-19T13:45:00" id="input-11">                       
                    </div>
                    <div class="form-group">
                        <label for="input-12">Date</label>
                        <input type="date" class="form-control" value="2011-08-19" id="input-12">
                    </div>
                    <div class="form-group">
                        <label for="input-13">Month</label>
                        <input type="month" class="form-control" value="2011-08" id="input-13">
                    </div>
                    <div class="form-group">
                        <label for="input-14">Week</label>
                        <input type="week" class="form-control" value="2011-W33" id="input-14">
                    </div>
                    <div class="form-group">
                        <label for="input-15">Time</label>
                        <input type="time" class="form-control" value="13:45:00" id="input-15">
                    </div>
                    <div class="form-group">
                        <label for="input-16">Color</label>
                        <input type="color" class="form-control" value="#58bc43" id="input-16">
                        <span class="help-block sub-little-text"><strong>Note:</strong> type="color" is not supported in Internet Explorer 11 and earlier versions or Safari 9.1 and earlier versions.</span>
                    </div>
                </form>
              
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        
        <div widget class="card bottom-30">
            <div class="card-header">
                <span>INPUT GROUPS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="input-group mb-3">                    
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                </div>

                <div class="input-group mb-3"> 
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                    </div>                   
                    <input type="text" class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">.00</span>
                    </div>
                </div>

                <div class="input-group mb-3">                    
                    <input type="email" class="form-control" placeholder="email">
                    <div class="input-group-append">
                        <span class="input-group-text text-primary">@domain.com</span>
                    </div>
                </div>

                <div class="input-group mb-3">                    
                    <input type="text" class="form-control" placeholder="Search for...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-info">Go!</button>
                    </div>
                </div>

                <div class="input-group mb-3"> 
                    <div class="input-group-prepend">
                        <span class="input-group-text">$</span>
                        <span class="input-group-text">0.00</span>
                    </div>                   
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3"> 
                    <div class="input-group-prepend">
                        <span class="input-group-text"><input type="checkbox"></span>
                    </div>                   
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3"> 
                    <div class="input-group-prepend">
                        <span class="input-group-text"><input type="radio"></span>
                    </div>                   
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);">Action</a>
                            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                        </div>
                    </div>
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button type="button" class="btn btn-secondary">Action</button>
                        <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="javascript:void(0);">Action</a>
                            <a class="dropdown-item" href="javascript:void(0);">Another action</a>
                        </div>
                    </div>
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-danger" type="button">Hate it</button>
                    </div>
                    <input type="text" class="form-control" placeholder="Product name">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="button">Love it</button>
                    </div>
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-paperclip"></i></span>
                    </div>
                    <input type="text" class="form-control">
                </div>

                <div class="input-group input-group-lg mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-paperclip"></i></span>
                    </div>
                    <input type="text" class="form-control">
                </div>
             
            </div>
        </div>

        <div widget class="card">
            <div class="card-header">
                <span>INPUT COLORS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputSuccess1">Input with success</label>
                    <input type="text" class="form-control form-control-success" id="inputSuccess1">
                </div>

                <div class="form-group has-warning">
                    <label class="form-control-label" for="inputWarning1">Input with warning</label>
                    <input type="text" class="form-control form-control-warning" id="inputWarning1">
                </div>

                <div class="form-group has-danger">
                    <label class="form-control-label" for="inputDanger1">Input with danger</label>
                    <input type="text" class="form-control form-control-danger" id="inputDanger1">
                </div>

                <div class="form-group">
                    <label for="input-primary" class="text-primary">Primary input</label>
                    <input type="text" class="form-control bg-primary text-white" id="input-primary">
                </div>

                <div class="form-group">
                    <label for="input-success" class="text-success">Success input</label>
                    <input type="text" class="form-control bg-success text-white" id="input-success">
                </div>

                <div class="form-group">
                    <label for="input-info" class="text-info">Info input</label>
                    <input type="text" class="form-control bg-info text-white" id="input-info">
                </div>

                <div class="form-group">
                    <label for="input-warning" class="text-warning">Warning input</label>
                    <input type="text" class="form-control bg-warning text-white" id="input-warning">
                </div>

                <div class="form-group">
                    <label for="input-danger" class="text-danger">Danger input</label>
                    <input type="text" class="form-control bg-danger text-white" id="input-danger">
                </div>                

            </div>
        </div>

    </div>

</div>

<div class="row bottom-30">
    
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>CHECKBOX</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body row mbm-20">

                <div class="col-md-4 col-12 bottom-15">   
                    <h6>Custom checkbox</h6>
                    <div class="form-group">                        
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkboxDefault">
                            <label class="custom-control-label" for="checkboxDefault">Custom</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-primary" id="checkboxPrimary" checked>
                            <label class="custom-control-label" for="checkboxPrimary">Primary</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-success" id="checkboxSuccess" checked>
                            <label class="custom-control-label" for="checkboxSuccess">Success</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-info" id="checkboxInfo">
                            <label class="custom-control-label" for="checkboxInfo">Info</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-warning" id="checkboxWarning" checked>
                            <label class="custom-control-label" for="checkboxWarning">Warning</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-danger" id="checkboxDanger">
                            <label class="custom-control-label" for="checkboxDanger">Danger</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input checkbox-main" id="checkboxMain">
                            <label class="custom-control-label" for="checkboxMain">Main</label>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 col-12 bottom-15">   
                    <h6>Circled checkbox</h6>
                    <div class="form-group">                        
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input" id="checkboxDefault2" checked>
                            <label class="custom-control-label" for="checkboxDefault2">Custom</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input checkbox-primary" id="checkboxPrimary2">
                            <label class="custom-control-label" for="checkboxPrimary2">Primary</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input checkbox-success" id="checkboxSuccess2" checked>
                            <label class="custom-control-label" for="checkboxSuccess2">Success</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input checkbox-info" id="checkboxInfo2" checked>
                            <label class="custom-control-label" for="checkboxInfo2">Info</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input checkbox-warning" id="checkboxWarning2">
                            <label class="custom-control-label" for="checkboxWarning2">Warning</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input checkbox-danger" id="checkboxDanger2" checked>
                            <label class="custom-control-label" for="checkboxDanger2">Danger</label>
                        </div>
                        <div class="custom-control custom-checkbox checkbox-circle">
                            <input type="checkbox" class="custom-control-input checkbox-main" id="checkboxMain2" checked>
                            <label class="custom-control-label" for="checkboxMain2">Main</label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-12">   
                    <h6>ABC checkbox</h6>
                    <div class="form-group">
                        <div class="abc-checkbox">
                            <input id="checkbox1" type="checkbox">
                            <label for="checkbox1">Default</label>
                        </div>
                        <div class="abc-checkbox abc-checkbox-primary">
                            <input id="checkbox2" type="checkbox" checked>
                            <label for="checkbox2">Primary</label>
                        </div>
                        <div class="abc-checkbox abc-checkbox-success">
                            <input id="checkbox3" type="checkbox">
                            <label for="checkbox3">Success</label>
                        </div>
                        <div class="abc-checkbox abc-checkbox-info">
                            <input id="checkbox4" type="checkbox" checked>
                            <label for="checkbox4">Info</label>
                        </div>
                        <div class="abc-checkbox abc-checkbox-warning">
                            <input id="checkbox5" type="checkbox">
                            <label for="checkbox5">Warning</label>
                        </div>
                        <div class="abc-checkbox abc-checkbox-danger">
                            <input id="checkbox6" type="checkbox" checked>
                            <label for="checkbox6">Danger</label>
                        </div>
                        <div class="abc-checkbox abc-checkbox-success">
                            <input checked disabled id="disabled-checkbox" type="checkbox">
                            <label for="disabled-checkbox">Disabled</label>
                        </div>
                    </div>
                </div>  

            </div>
        </div>
    </div>    

</div>

<div class="row">
    
    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        <div widget class="card">
            <div class="card-header">
                <span>RADIO BUTTON</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body"> 

                <div class="col bottom-15">
                    <h6>Inline radio buttons</h6>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="radio1" type="radio" name="radioInline" class="custom-control-input" checked>
                        <label class="custom-control-label" for="radio1">radio button 1</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="radio2" type="radio" name="radioInline" class="custom-control-input">
                        <label class="custom-control-label" for="radio2">radio button 2</label>
                    </div>
                </div>

                <div class="row pl-3 pr-3">
                     
                    <div class="col-md-6 col-12 bottom-15">
                        <h6>Custom radio buttons</h6>
                        <div class="form-group">                        
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input" id="radioDefault">
                                <label class="custom-control-label" for="radioDefault">Custom</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-primary" id="radioPrimary">
                                <label class="custom-control-label" for="radioPrimary">Primary</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-success" id="radioSuccess" checked>
                                <label class="custom-control-label" for="radioSuccess">Success</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-info" id="radioInfo">
                                <label class="custom-control-label" for="radioInfo">Info</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-warning" id="radioWarning">
                                <label class="custom-control-label" for="radioWarning">Warning</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-danger" id="radioDanger">
                                <label class="custom-control-label" for="radioDanger">Danger</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" name="radio" class="custom-control-input radio-main" id="radioMain">
                                <label class="custom-control-label" for="radioMain">Main</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <h6>ABC radio buttons</h6>
                        <div class="form-group">
                            <div class="abc-radio">
                                <input type="radio" name="abc-radio" id="abc-radio1" checked>
                                <label for="abc-radio1">Default</label>
                            </div>
                            <div class="abc-radio abc-radio-primary">
                                <input type="radio" name="abc-radio" id="abc-radio2">
                                <label for="abc-radio2">Primary</label>
                            </div>
                            <div class="abc-radio abc-radio-success">
                                <input type="radio" name="abc-radio" id="abc-radio3">
                                <label for="abc-radio3">Success</label>
                            </div>
                            <div class="abc-radio abc-radio-info">
                                <input type="radio" name="abc-radio" id="abc-radio4">
                                <label for="abc-radio4">Info</label>
                            </div>
                            <div class="abc-radio abc-radio-warning">
                                <input type="radio" name="abc-radio" id="abc-radio5">
                                <label for="abc-radio5">Warning</label>
                            </div>
                            <div class="abc-radio abc-radio-danger">
                                <input type="radio" name="abc-radio" id="abc-radio6">
                                <label for="abc-radio6">Danger</label>
                            </div>
                            
                        </div>
                    </div>  

                </div>
                          
            </div>
        </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-12 bottom-30">
        
        <div widget class="card">
            <div class="card-header">
                <span>SELECTS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <div class="form-group">
                    <label for="exampleSelect1">Example select</label>
                    <select class="form-control" id="exampleSelect1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleSelect2">Example multiple select</label>
                    <select multiple class="form-control" id="exampleSelect2">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleSelect3">Custom select</label>
                    <select class="form-control custom-select" id="exampleSelect3">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
               
            </div>
        </div>
    </div>
</div>


<div class="row bottom-30">
    
    <div class="col">
        <div widget class="card o-visible">
            <div class="card-header">
                <span>Angular 2 Dropdown Multiselect</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body row mbm-20">
                
                <p class="ml-3">Customizable dropdown multiselect in AngularX, TypeScript with bootstrap css. More information: <a href="https://github.com/softsimon/angular-2-dropdown-multiselect" target="_blank">Angular 2 Dropdown Multiselect</a></p>
                <div class="col-md-4 col-12 bottom-15">   
                    <h6>Default</h6>
                    <ss-multiselect-dropdown [options]="firstControlOptions" [(ngModel)]="firstControlModel" (ngModelChange)="onChange()"></ss-multiselect-dropdown>
                </div> 
                <div class="col-md-4 col-12 bottom-15">   
                    <h6>Select all/none</h6>
                    <ss-multiselect-dropdown [options]="secondControlOptions" [texts]="secondControlTexts" [settings]="secondControlSettings" [(ngModel)]="secondControlModel"></ss-multiselect-dropdown>
                </div>
                <div class="col-md-4 col-12 bottom-15">   
                    <h6>Search filter</h6>
                    <ss-multiselect-dropdown [options]="thirdControlOptions" [texts]="thirdControlTexts" [settings]="thirdControlSettings" [(ngModel)]="thirdControlModel"></ss-multiselect-dropdown>
                </div>  

            </div>
        </div>
    </div>    

</div>






<div class="row bottom-30">
     <div class="col-12">
        
        <div widget class="card">
            <div class="card-header">
                <span>UPLOADS</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">
                
                <div class="row">
                    <div class="col-lg-4 col-12 bottom-15">
                        <h6>File upload</h6>
                        <az-file-uploader></az-file-uploader>

                        <h6>Image upload</h6>
                        <az-image-uploader></az-image-uploader>
                    </div>

                    <div class="col-lg-8 col-12 bottom-15">
                        <h6 class="text-center">Multiple Image Uploader</h6>
                        <az-multiple-image-uploader></az-multiple-image-uploader>
                    </div>
                </div>                
               
            </div>
        </div>

    </div>    
</div>


<div class="row">
    
    <div class="col">
        <div widget class="card">
            <div class="card-header">
                <span>DROP ZONE</span>
                <div class="widget-controls">              
                    <a data-widgster="expand" href="#" class="transition"><i class="fa fa-chevron-down"></i></a>
                    <a data-widgster="collapse" href="#" class="transition"><i class="fa fa-chevron-up"></i></a>
                    <a data-widgster="fullscreen" href="#" class="transition"><i class="fa fa-expand"></i></a>
                    <a data-widgster="restore" href="#" class="transition"><i class="fa fa-compress"></i></a>                          
                    <a data-widgster="close" href="#" class="transition"><i class="fa fa-times"></i></a>
                </div>        
            </div>
            <div class="card-body widget-body">

                <form class="dropzone" dropzone action="#" id="my-awesome-dropzone"></form>

            </div>
        </div>
    </div>    

</div>


